<mat-card>
  <mat-list role="list">
    <mat-list-item role="listitem">{{data?.city}}</mat-list-item>
    <mat-list-item role="listitem"><img [src]="'https://openweathermap.org/img/w/'+data?.icon+'.png'" alt=""></mat-list-item>
    <mat-list-item role="listitem">{{data?.description}}</mat-list-item>
    <mat-list-item role="listitem">{{data?.main}}</mat-list-item>
    <mat-list-item role="listitem">{{data?.clouds}} %</mat-list-item>
  </mat-list>
</mat-card>
