<div class="header">
  <button
    id="refresh"
    mat-raised-button
    color="basic">Refresh</button>
</div>
<!--<table mat-table [dataSource]="weatherSource" class="mat-elevation-z8">-->

  <!--<ng-container matColumnDef="city">-->
    <!--<th mat-header-cell *matHeaderCellDef>City</th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.city}} </td>-->
  <!--</ng-container>-->

  <!--<ng-container matColumnDef="icon">-->
    <!--<th mat-header-cell *matHeaderCellDef>Icon</th>-->
    <!--<td mat-cell *matCellDef="let element"><img [src]="'https://openweathermap.org/img/w/'+element.icon+'.png'" alt=""></td>-->
  <!--</ng-container>-->

  <!--<ng-container matColumnDef="description">-->
    <!--<th mat-header-cell *matHeaderCellDef>Description</th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.description}} </td>-->
  <!--</ng-container>-->

  <!--<ng-container matColumnDef="main">-->
    <!--<th mat-header-cell *matHeaderCellDef>Main</th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.main}} </td>-->
  <!--</ng-container>-->
  <!--<ng-container matColumnDef="clouds">-->
    <!--<th mat-header-cell *matHeaderCellDef>Clouds</th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.clouds}} % </td>-->
  <!--</ng-container>-->

  <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->



<div class="table">
  <div class="table__row">
    <div class="table__cell">City</div>
    <div class="table__cell">Icon</div>
    <div class="table__cell">Description</div>
    <div class="table__cell">Main</div>
    <div class="table__cell">Clouds</div>
  </div>
  <div class="table__row" *ngFor="let item of weatherSource">
    <div class="table__cell">{{item.city}}</div>
    <div class="table__cell"><img [src]="'https://openweathermap.org/img/w/'+item.icon+'.png'" alt=""></div>
    <div class="table__cell">{{item.description}} </div>
    <div class="table__cell"> {{item.main}} </div>
    <div class="table__cell">{{item.clouds}} % </div>
  </div>
</div>
<app-widget [data]="weatherLastItem"></app-widget>
