table {
  width: 70%;
}
.header {
  width: 100%;
}
.table {
  width: 70%;
  float: left;
  display: flex;
  flex-direction: column;
  &__row {
    display: flex;
  }
  &__cell {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }
}
